@font-face {
    /*font-family: "Great Vibes";
    src: url("../fonts/GreatVibes-Regular.otf");*/
}

body {
   /*text-align: center;*/
}

body h3{
  position: relative;
  z-index: 2;
  margin-left: 0px;
  color: #6EFCBB;
  font-weight: bold;
  font-size: 40pt;
  font-family: sans-serif;

  text-shadow: 4px 4px 0px #4AB18E;
  line-height: 120px;
  margin-bottom: 0px !important;

}

/*
body a{
  z-index: 2;
  margin-left: 0px;
  color: #ffffff;
  font-weight: bold;
  font-size:30pt;
  font-family: sans-serif;
  text-shadow: 4px 4px 0px #4AB18E;
} */

.marginleft_name{
  margin-left: 22px;
}

.info{
   margin-top: -20px;
   width: 350px;
   text-align: center;
}


.svg {
  width: 50%;
  height: auto;
}

#frame {
   background:url(../img/team-chiru.jpg) !important;
   background-repeat: no-repeat !important;
   background-size:100% !important;

   height:300px;
   width: 350px;

   border: 2px solid;
   border-radius: 25px;

   box-shadow: 10px 10px 10px #888888;
}

#frame_vlnk {
   background:url(../img/vlnk.jpg) !important;
   background-repeat: no-repeat !important;
   background-size:100% !important;

   height:350px;
   width: 350px;

   border: 2px solid;
   border-radius: 25px;

   box-shadow: 10px 10px 10px #888888;
}

#frame_tower {
   background:url(../img/tower.jpg) !important;
   background-repeat: no-repeat !important;
   background-size:100% !important;

   height:375px;
   width: 350px;

   border: 2px solid;
   border-radius: 25px;

   box-shadow: 10px 10px 10px #888888;
}



#navbar{
  background-color: #B1D4B6 !important;
  height: 50px !important;
}

#navbar a {
  z-index: 2;
  margin-left: 0px;
  padding-bottom: 20px ;
  color: #ffffff !important;
  font-weight: bold;
  font-size:24pt;
  font-family: sans-serif;
  text-shadow: 4px 4px 0px #4AB18E;

}

#navbar a:hover {
  background-color: #6EFCBB;
}



.hero {
				background: #eee;
				padding: 20px;
				border-radius: 10px;
				margin-top: 1em;
}

.hero h1 {
				margin-top: 0;
				margin-bottom: 0.3em;
			}

			.c4 {
				padding: 10px;
				box-sizing: border-box;
			}

			.c4 h3 {
				margin-top: 0;
			}

			.c4 a {
				margin-top: 10px;
				display: inline-block;
			}
